[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/presly808
[access "refs/for/refs/*"]
	read = group user/presly808
	push = group user/presly808
	label-Code-Review = -2..+2 group user/presly808
	label-Verified = -1..+1 group user/presly808
	rebase = group user/presly808
	removeReviewer = group user/presly808
	submit = group user/presly808
[access "refs/heads/*"]
	read = group user/presly808
	create = group user/presly808
	push = +force group user/presly808
	pushMerge = group user/presly808
[access "refs/tags/*"]
	push = +force group user/presly808
	pushTag = group user/presly808
	pushSignedTag = group user/presly808
